# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Local vector index/cache
data/
*.faiss
*.pkl

# IDE
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Credential files
service-account*.json
credentials/
secrets/
