# Copia este archivo como .streamlit/secrets.toml SOLO en entorno local
# En Streamlit Cloud, pega estas variables en App Settings > Secrets

GEMINI_API_KEY = "tu_api_key_gemini"
SERPAPI_API_KEY = "tu_api_key_serpapi"
# PDF_DIR = "Agente de IA Carrarurquia"
